body, html {
  height: 100%;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #D93B96;
  letter-spacing: 1px;
  font-variant: small-caps;
}

a:hover {
  color: #5ca038;
  text-decoration: underline;
}

* {
  margin:0;
  padding:0;
}

img {
  justify-content: center;
  width: 40%;
  height: auto;
  overflow: hidden;
  position: relative;

}

small {
  font-size: 0.5em;
}

p {
  text-align: center;
}

em {
  font-size: 0.8em;
  line-height: 2.5em;
}

span {
  color: #5ca038;
}

ul {
  text-align: left;
  margin-left: 35px;
}

#skrollr-body{}

.bgs {
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.parallax-front {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}


.content {
  max-width: 450px;
  width: 50%;
  margin: auto;
  color: #212121;
  padding: 0 8%;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.phonespace {
  max-width: 250px;
  width: 50%;
}

#slide-1, #slide-2, #slide-4, #slide-5, #slide-6, #slide-7, #slide-8, #slide-9, #slide-10, #slide-11, #slide-12, #slide-13, #slide-14 {
  height: 100vh;
  position: relative;
}

#slide-3 {
  height: 300vh;
  position: relative;
}

#slide-1 .bgs {
  background-image: url('../images/small_steps.png');
  background-repeat: repeat;
}

#slide-2 .bgs {
  background: url('../images/money.svg'); 
}

#slide-3 .bgs {
  background-image: url('../images/new_year_background.png');
  background-repeat: repeat;
}

#slide-3 .content {
  max-width: 250px;
  width: 34%;
  margin: auto;
  color: #212121;
  padding: 0 8%;
}

#slide-4 .content, #slide-5 .content, #slide-6 .content, #slide-7 .content, #slide-8 .content, #slide-9 .content, #slide-10 .content, #slide-11 .content, #slide-12 .content, #slide-13 .content {
  width: 34%;
  margin: auto;
  color: #212121;
  padding: 0;
}

#slide-4 .bgs {
  background-image: url('../images/phonecoffee1.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}

#slide-5 .bgs {
  background-image: url('../images/phonecoffee2.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}

/*
Images and information of products came from Te Papa's Online Store website.
*/

#slide-6 .bgs {
  background-image: url('../images/phonegift1.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}

#slide-7 .bgs {
  background-image: url('../images/phonegift2.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}

/* 
Images of red panda taken by myself, and the faces are of myself. Any other faces have been purposely cut out or blurred.
*/

#slide-8 .bgs {
  background-image: url('../images/phonevirtual1.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}

#slide-9 .bgs {
  background-image: url('../images/phonevirtual2.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}

/*  
Images and information in PHONEVENUE1.JPG used from Te Papa's website.
https://www.tepapa.govt.nz/visit/venues/spaces
Images in PHONEVENUE2.JPG used from Te Papa's instagram.
https://www.instagram.com/te_papa/  
*/

#slide-10 .bgs {
  background-image: url('../images/phonevenue1.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}


#slide-11 .bgs {
  background-image: url('../images/phonevenue2.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}

#slide-12 .bgs {
  background-image: url('../images/phoneartists2.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}

#slide-13 .bgs {
  background-image: url('../images/phoneartists1.png'), url('../images/concrete_seamless.png');
  background-size: auto 80%;
  background-repeat: no-repeat, repeat; 
}


#slide-14 .bgs {
  background-image:url('../images/(13).jpg');
  background-size: cover;
  opacity: 0.8;
}

#slide-14 .content {
  max-width: 900px;
  width: 100%;
  color: #000;
}


#posL {
  position: fixed;
  top: 196px;
  left: 2%;
  width: 30%;
}

#posC {
  position: fixed;
  top: 206px;
  left: 35%;
  right: 35%;
  width: 30%;
}

#posR {
  position: fixed;
  top: 186px;
  right: 2%;
  width: 30%;
}

#posL h2 {
  color: #D93B96;
}

#posC h2 {
  color: #009EFF;
}

#posR h2 {
  color: #55903E;
}

@media only screen and (max-width: 1140px) {
 .bgs {
    background-attachment: scroll;
  }

 .content {
    width: 100%;
  }

  #slide-3 {
    height: 200vh;
  }

  #slide-3 .content {
    width: 100%;
  }

  #posL {
    position: relative;
    top: 20px;
    width: 100%;
    left: 0;
  }

  #posC {
    position: relative;
    top: 20px;
    width: 100%;
    left: 0;
  }

  #posR {
    position: relative;
    top: 20px;
    width: 100%;
    right: 0;
  }


  #slide-4 .content, #slide-5 .content, #slide-6 .content, #slide-7 .content, #slide-8 .content, #slide-9 .content, #slide-10 .content, #slide-11 .content, #slide-12 .content, #slide-13 .content {
    width: 100%;
    margin: auto;
    color: #212121;
    padding: 20px 60px;
    max-width: none;
    background-color: #fff;
  }

  ul {
   display: inline-block;
 }

}

@media only screen and (max-width: 769px) {
  
  #slide-4 .content, #slide-5 .content, #slide-6 .content, #slide-7 .content, #slide-8 .content, #slide-9 .content, #slide-10 .content, #slide-11 .content, #slide-12 .content, #slide-13 .content {
    font-size: 16px;
    width: 100%;
    margin: auto;
    color: #212121;
    padding: 20px 60px;
    max-width: none;
    background-color: #fff;
  }

  .content {
    font-size: 16px;
  }

}
